@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins:wght@300;500;800&family=Roboto&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: var(--background-color);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.advice{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--advice-card-color);
    border-radius: 10px;
    margin: 20px;
    width: 345px;
}

.advice .advice-id{
    color: var(--advice-dice-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}

.advice .advice-description{
    color: var(--text-color);
    font-size: 23px;
    text-align: center;
    padding: 23px;
}

.advice .advice-update{
    background-color: var(--advice-dice-color);
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: none;
    transform: translateY(50%);
}

.advice .advice-update:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}


